<div class="card w-50 mx-auto">
    <form [formGroup]="registerForm">
        <div class="card-header">
            <h2 class="card-title">Register</h2>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="form-group col">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder=""
                        formControlName="firstName">
                    <div class="alert text-danger p-0"
                        *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched">
                        <span *ngIf="registerForm.controls['firstName'].hasError('required')">First name is required
                            field</span>
                        <span *ngIf="registerForm.controls['firstName'].hasError('minlength')">Minimum length is
                            3</span>
                        <span *ngIf="registerForm.controls['firstName'].hasError('pattern')">First name is
                            invalid</span>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder=""
                        formControlName="lastName">
                    <div class="alert text-danger p-0"
                        *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched">
                        <span *ngIf="registerForm.controls['lastName'].hasError('required')">Last name is required
                            field</span>
                        <span *ngIf="registerForm.controls['lastName'].hasError('minlength')">Minimum length is
                            3</span>
                        <span *ngIf="registerForm.controls['lastName'].hasError('pattern')">Last name is
                            invalid</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="" formControlName="email">
                <div class="alert text-danger p-0"
                    *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">Email is
                    <span *ngIf="registerForm.controls['email'].hasError('required')">Email is required
                        field</span>

                    <span *ngIf="registerForm.controls['email'].hasError('email')">Email is
                        invalid</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder=""
                    formControlName="password">
                <div class="alert text-danger p-0"
                    *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                    <span *ngIf="registerForm.controls['password'].hasError('required')">Password is required
                        field</span>
                    <span *ngIf="registerForm.controls['password'].hasError('minlength')">Minimum length is
                        6</span>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-warning me-2" [disabled]="registerForm.invalid">Login</button>
            <button type="reset" class="btn btn-outline-warning" (click)="reset()">Cancel</button>
        </div>
    </form>
</div>